@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

.wrapper {
	max-width: 1200px;
	margin: auto;
}

body {
	padding: 0;
	margin: 0;
}

nav.navigation {
	justify-content: space-between;
	padding: 10px 30px;
}

nav .title{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation ul {
	color: #52647e;
	font-size: 20px;
	font-family: "Raleway", sans-serif;
	list-style-type: none;
	padding: 0;
	display: none;
}

.show {
	display: block !important;
}

.navigation .button {
	display: block;
	padding: 16px;
	font-size: 18px;
	color: #334155;
}

.navigation .active {
	color: #2563EB;
}

.navigation ul li {
	list-style-type: none;
	display: block;
	padding: 10px 0;
	position: relative;
}

.container {
	padding: 0 30px;
}

ul.sub-navigation {
	margin-top: 10px;
	margin-left: 40px;
	display: block;
}

@media (min-width: 960px) {
	nav.navigation {
		display: flex;
		padding: 10px 80px;
	}

	.navigation ul {
		display: block;
		margin-left: 20px;

	}

	.navigation ul li {
		display: inline-block;
		padding: 5px 20px;
	}

	.navigation i {
		display: none;
	}
	

	.container {
		padding: 0 80px;
	}

	ul.sub-navigation {
		list-style-type: none;
		position: absolute;
		background-color: #F1F5F9;
		border-radius: 10px;
		margin-left: -10px;
		padding: 15px;
		margin-top: 25px;
		opacity: 0;
	}
	
	ul.sub-navigation li {
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	.navigation li:hover .sub-navigation {
		opacity: 1;
	}
}


@media (min-width: 1466px) {
	nav.navigation {
		display: flex;
		justify-content: space-between;
		padding: 10px 250px;
	}

	.container {
		padding: 0 250px;
	}
}

nav.navigation h1 {
	position: relative;

}



.navigation ul li:hover {
	color: #070809;
	font-weight: 700;
}

.active-nav {
	color: #2563EB;
	font-weight: bold;
}



a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-family: "Raleway", sans-serif;
}

.lajmet1 {
	display: flex;
}

.artikulli1 {
	max-width: 70%;
	width: 100%;
	padding: 0 20px;
	background: red;
}

.artikujt2 {
	max-width: 30%;
	width: 100%;
	padding: 0 20px;
	background: red;
}

.more-articles {
	display: flex;
}

.more-lajmet {
	max-width: 33.3333%;
	width: 100%;
	padding: 0 20px;
}