@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
	font-family: Raleway-Black;
	src: url(./fonts/Raleway/static/Raleway-Black.ttf);
}

html{scroll-behavior:smooth}

.wrapper {
	max-width: 1200px;
	margin: auto;
}

body {
	padding: 0;
	margin: 0;
}

nav.navigation {
	justify-content: space-between;
	padding: 10px 30px;
}

nav .title{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation ul {
	color: #52647e;
	font-size: 20px;
	font-family: "Raleway", sans-serif;
	list-style-type: none;
	padding: 0;
	display: none;
}

.show {
	display: block !important;
}

.navigation .button {
	display: block;
	padding: 16px;
	font-size: 18px;
	color: #334155;
}

.navigation .active {
	color: #2563EB;
}

.navigation ul li {
	list-style-type: none;
	display: block;
	padding: 10px 0;
	position: relative;
}

.container {
	padding: 0 30px;
}

ul.sub-navigation {
	margin-top: 10px;
	margin-left: 40px;
	display: block;
}

@media (min-width: 960px) {
	nav.navigation {
		display: flex;
		padding: 10px 80px;
	}

	.navigation ul {
		display: block;
		margin-left: 20px;

	}

	.navigation ul li {
		display: inline-block;
		padding: 5px 20px;
	}

	.navigation i {
		display: none;
	}
	

	.container {
		padding: 0 80px;
	}

	ul.sub-navigation {
		list-style-type: none;
		position: absolute;
		background-color: #F1F5F9;
		border-radius: 10px;
		margin-left: -10px;
		padding: 15px;
		margin-top: 25px;
		opacity: 0;
	}
	
	ul.sub-navigation li {
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	.navigation li:hover .sub-navigation {
		opacity: 1;
	}
}


@media (min-width: 1466px) {
	nav.navigation {
		display: flex;
		justify-content: space-between;
		padding: 10px 250px;
	}

	.container {
		padding: 0 250px;
	}
}

nav.navigation h1 {
	position: relative;

}



.navigation ul li:hover {
	color: #070809;
	font-weight: 700;
}

.active-nav {
	color: #2563EB;
	font-weight: bold;
}



a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-family: "Raleway", sans-serif;
}

.lajmet1 {
	display: flex;
}

.artikulli1 {
	max-width: 70%;
	width: 100%;
	padding: 0 20px;
	background: red;
}

.artikujt2 {
	max-width: 30%;
	width: 100%;
	padding: 0 20px;
	background: red;
}

.more-articles {
	display: flex;
}

.more-lajmet {
	max-width: 33.3333%;
	width: 100%;
	padding: 0 20px;
}






.header{
	display: flex;
	margin: 32px 0;
	flex-direction: column;
}

.header h1 {
	font-family: Raleway-Black;
	font-size: 56px;
	color: #0F172A;
	margin-bottom: 0;
}

.header p {
	font-family: "Raleway";
	font-size: 20px;
	color: #334155;
	margin-bottom: 30px;
}

.header a {
	font-family: "Raleway";
	display: inline-block;
	font-weight: 500;
	font-size: 18px;
	color: #fff;
	background-color: #2563EB;
	padding: 15px 30px;
	border-radius: 10px;
}

.header img {
	width: 100%;
}


.bg-1 {
	position: absolute;
	z-index: -1;
	top: -200px;
	left: 0px;
	width: 100%;
	opacity: 0.6;
	
	overflow-x: hidden
}

@media (min-width: 960px) {
	.header{
		margin: 52px 0;
		flex-direction: row-reverse;
	}
	
	.header-left{
		flex: 1;
		padding-right: 72px;
	}
	
	.header-right {
		flex: 1;
	}
	
	.header h1 {
		font-size: 72px;
		margin-bottom: 0;
	}
	
	.header p {
		font-size: 24px;
		margin-bottom: 40px;
	}
	
	.header a {
		font-size: 20px;
	}

}


@media (min-width: 1466px) {
	.header{
		margin: 72px 0;
	}
	
	.header-left{
		padding-right: 128px;
	}
	
	
}